<style>

        body {
            font-size: 16px;
        }

        h1 {
            font-size: 65px;
            color: orange;
            font-family: sans-serif;
        }

        ul {
            background-color: coral;
        }

        .pul-style {
            background-color: aqua;
        }

        p {
            font-weight: 600;
            font-size: 3em;
        }

        li {
            background-color: red;
        }

        ul :first-child {
            background-color: yellow;
        }

        ul :last-child {
            background-color: brown;
        }


